<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股票報價系統</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.prod.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
</head>
<body>
<div id="app" class="container">
    <h1 class="mt-5">股票報價系統</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>即時報價</h3>
            <div class="list-group">
                <div class="list-group-item list-group-item-primary">
                    <div class="row">
                        <div class="col">股票名稱</div>
                        <div class="col">成交價</div>
                        <div class="col">漲跌</div>
                        <div class="col">成交量</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col">{{ latestPrice.stockId }}</div>
                        <div class="col">{{ latestPrice.tradePrice }}</div>
                        <div class="col">{{ latestPrice.margin }}</div>
                        <div class="col">{{ latestPrice.totalTradeQuantity }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>交易紀錄</h3>
            <div class="list-group">
                <div class="list-group-item list-group-item-primary">
                    <div class="row">
                        <div class="col">時間</div>
                        <div class="col">買進</div>
                        <div class="col">賣出</div>
                        <div class="col">成交價</div>
                        <div class="col">成交量</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row" v-for="tradeLog in tradeLogs">
                            <div class="col">{{ formatTimestamp(tradeLog.timeStamp) }}</div>
                            <div class="col">{{ tradeLog.buyPrice }}</div>
                            <div class="col">{{ tradeLog.sellPrice }}</div>
                            <div class="col">{{ tradeLog.tradePrice }}</div>
                            <div class="col">{{ tradeLog.quantity }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <h3>下單</h3>
            <div>
                <div class="mb-2">
                    <label for="price" class="form-label">價格</label>
                    <input type="number" class="form-control" id="price" v-model="order.price" :disabled="priceDisabled">
                </div>
                <div class="mb-2">
                    <label for="quantity" class="form-label">數量</label>
                    <input type="number" class="form-control" id="quantity" v-model="order.quantity">
                </div>
                <div class="row">
                    <div class="col">
                        <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" @click="placeOrder('Buy')" checked>
                        <label class="btn btn-outline-success" for="success-outlined">買進</label>
                    </div>
                    <div class="col">
                        <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off" @click="placeOrder('Sell')">
                        <label class="btn btn-outline-danger" for="danger-outlined">賣出</label>
                    </div>
                    <div class="col">
                        <input type="checkbox" id="isMarketPrice" v-model="order.isMarketPrice" @click="marketPriceChecked()">
                        <label for="isMarketPrice">市價單</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <h3>買賣五檔報價</h3>
            <div class="row">
                <div class="col">
                    <h4>買進</h4>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" v-for="better in betterFivePrice.buy" >
                            <span>價格: {{ formatPrice(better.price) }}</span>
                            <span>數量: {{ better.totalQuantity }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h4>賣出</h4>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" v-for="better in betterFivePrice.sell">
                            <span>價格: {{ formatPrice(better.price) }}</span>
                            <span>數量: {{ better.totalQuantity }}</span>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</div>

<script>
    const { createApp } = Vue;

    createApp({
        data() {
            return {
                socket: null,
                latestPrice: {
                    stockId: "Stock1",
                    tradePrice: 0,
                    margin: 0,
                    totalTradeQuantity: 0
                },
                tradeLogs: [],
                order: {
                    stockId: 'Stock1',
                    orderType: "Buy",
                    isMarketPrice: false,
                    price: 0,
                    quantity: 0
                },
                betterFivePrice: {
                    buy : [],
                    sell :[]
                },
                priceDisabled: false
            };
        },
        methods: {
            setupSocket() {
                const socket = io(":8000", {transport : 'websocket'});
                this.socket = socket;
                socket.on("connect", () => {
                    console.log(`connected with transport ${socket.io.engine.transport.name}`);
                })
                socket.on("connect_error", (err) => {
                    // the reason of the error, for example "xhr poll error"
                    console.log(err.message);

                    // some additional description, for example the status code of the initial HTTP response
                    console.log(err.description);

                    // some additional context, for example the XMLHttpRequest object
                    console.log(err.context);
                })
                this.socket.on('getLatestPrice', (latestPrice) => {
                    this.latestPrice = latestPrice
                });
                this.socket.on('getTradeLogs', (tradeLogs) => {
                    this.tradeLogs.push(...tradeLogs);
                });
                this.socket.on('getTradeLog', (tradeLog) => {
                    this.tradeLogs.push(tradeLog);
                });
                this.socket.on("getBetterFivePrice", (betterFivePrice) => {
                    this.betterFivePrice = betterFivePrice
                })
            },
            formatTimestamp(timestamp) {
                const date = new Date(timestamp * 1000);
                return `${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}:${date.getSeconds().toString().padStart(2, '0')}`;
            },
            formatPrice(price) {
                if (price === 0) {
                    return "市價"
                }
                return price
            },
            placeOrder(orderType) {
                if (this.order.price <= 0 && !this.order.isMarketPrice) {
                    alert("價格不得小於等於0")
                    return;
                }
                if (this.order.quantity <= 0) {
                    alert("數量不得小於等於0")
                    return;
                }

                this.order.orderType = orderType
                if (this.order.isMarketPrice === true) {
                    this.order.price = 0
                }
                this.socket.emit('order', JSON.stringify(this.order));
                this.order = {
                    stockId: 'Stock1',
                    orderType: "Buy",
                    price: 0,
                    quantity: 0
                }
                this.priceDisabled = false
            },
            marketPriceChecked() {
                this.priceDisabled = !this.priceDisabled
            }
        },
        mounted() {
            this.setupSocket();
        }

    }).mount('#app');
</script>
</body>
</html>